
#nav, #nav ul{
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
line-height:1.7em; 
color:#ffffff;
background-color:#000000;
}
           
#nav a{
display:block;
padding:0px 5px;
border-left:1px solid #c8c8c8;border-right:1px solid #c8c8c8;
color:#ffffff;
text-decoration:none;
background-color:#000000;
}

#nav a:hover{
background-color:#ffffff;
color:#000000;
z-index: 1000;
}

#nav li{
float:left;
position:relative;
width:100px;
z-index: 1000; 
}

#nav ul {
position:absolute;
display:none;
width:12em;
top:1.7em;
z-index: 1000;

}


#nav li ul a{
border-bottom:1px solid #c8c8c8;
width:12em;
height:auto;
float:left;
z-index: 1000;
background-color:#ffffff;
color:#000000;  }


#nav li ul a:hover{
 background-color:#000000;
color:#ffffff;
}
#nav ul ul{
top:auto;
}    

#nav li ul ul {
left:12em;
margin:0px 0 0 10px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
display:block;
}

#dropcont {
    top:1px;
    width:100%;
    float:left;
    margin-left:20px;
    height: 20px;
    clear:both;
}
  